<div class="test-resize text-center" appResizable>
  <h1>Testing</h1>
</div>

<hr>

<div style="display: flex;">
  <div class="container">
    <div class="div1" appResizable>
      <p> Hello I am the first of three resizable components. Just drag the grey bar to my right.
    </div>
    <div class="div2">
      <h2> I am stuck in the middle. </h2>
    </div>
  </div>
  <div class="container">
    <div class="div1" appResizable>
      <p> Hello I am the first of three resizable components. Just drag the grey bar to my right.
    </div>
    <div class="div2">
      <h2> I am stuck in the middle. </h2>
    </div>
  </div>
</div>

<hr />

<div style="display: flex;">
  <div class="container">
    <div class="div1" appResizable>
      <p> Hello I am the first of three resizable components. Just drag the grey bar to my right.
    </div>
    <div class="div2">
      <h2> I am stuck in the middle. </h2>
    </div>
  </div>
  <div class="container">
    <div class="div1" appResizable>
      <p> Hello I am the first of three resizable components. Just drag the grey bar to my right.
    </div>
    <div class="div2">
      <h2> I am stuck in the middle. </h2>
    </div>
  </div>
</div>
